#todo-error{
  color: red;
  font-size: 2em;
}
#bg-image{
  background-size: cover;
}
#quote {
  color: white;
}
.weatherRow {
  height: 20vh;
}
.clockRow{
  height: 50vh;
}
.formStyle {
  display: inline;
}
.formButton {
  margin-top: -5px;
}