#todo-error{
  color: red;
  font-size: 2em;
}
#bg-image{
  background-size: cover;
}
#quote {
  color: white;
  font-family: 'Shadows Into Light', cursive;
}
#quote:hover .authorShown {
  display: block
}
.weatherRow {
  height: 20vh;
  font-family: 'Questrial', sans-serif;
}
.clockRow {
  height: 45vh;
}
.formStyle {
  display: inline;
}
.formButton {
  margin-top: -5px;
}
.clock {
  font-size: 110px;
  font-family: 'Questrial', sans-serif;
}
.greeting {
  font-size: 30px;
  margin-top: -125px;
  font-family: 'Questrial', sans-serif;
}
.authorShown {
  display: none
}
.locationWeather {
  margin-top: -10px;
}
.weatherIcon {
  display: inline;
}
.temp {
  margin-top: -45px;
}
.todoRow {
  font-family: 'Questrial', sans-serif;
}